#map {
    position: relative;
    height: 100%;
    width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  padding: 8px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.dropdown-list li {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.color-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
